/*********************************************/
/****************** GENERAL ******************/
/*********************************************/
.wrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  overflow: hidden; }

.navigation {
  padding: 2.5rem 3rem; }

.story,
.avatars,
.cards,
.navigation {
  margin: 4rem 16rem; }

/*********************************************/
/****************** NAVBAR *******************/
/*********************************************/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center; }

@media all and (max-width: 1830px) {
  .navigation {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 4rem 26rem; } }
@media all and (max-width: 1300px) {
  .navigation {
    margin: 4rem;
    align-content: center; }

  .btn-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; } }
/*********************************************/
/****************** HEADER *******************/
/*********************************************/
.greeting-card {
  margin-bottom: 12rem; }

/*********************************************/
/******************* CARDS *******************/
/*********************************************/
.cards {
  display: flex;
  justify-content: space-between;
  line-height: 1.4em; }

@media all and (max-width: 1830px) {
  .cards {
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
    max-height: 1380px;
    margin: 6rem 26rem; } }
@media all and (max-width: 1300px) {
  .cards {
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    max-height: 100%;
    margin: 2rem auto; } }
/*********************************************/
/****************** AVATARS ******************/
/*********************************************/
.avatars {
  display: flex; }

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 4rem; }

@media all and (max-width: 1830px) {
  .avatars {
    margin: 4rem 26rem;
    flex-direction: column; }

  .description {
    padding: 0; } }
@media all and (max-width: 1300px) {
  .avatars {
    margin: 4rem; } }
@media all and (max-width: 320px) {
  .avatars {
    margin: 4rem 0; } }
/*********************************************/
/******************* STORY *******************/
/*********************************************/
.story {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  text-align: justify; }

@media all and (max-width: 1830px) {
  .story {
    margin: 4rem 26rem;
    flex-direction: column; } }
@media all and (max-width: 1300px) {
  .story {
    margin: 4rem; } }
@media all and (max-width: 320px) {
  .story {
    margin: 0; } }
/*********************************************/
/****************** FOOTER *******************/
/*********************************************/
.contact {
  display: flex;
  justify-content: flex-start;
  padding: 0 8rem;
  background-color: #707070;
  color: #FFF; }

@media all and (max-width: 1830px) {
  .contact {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 700px;
    padding: 4rem 24rem 10rem; } }
@media all and (max-width: 1300px) {
  .contact {
    flex-wrap: nowrap;
    max-height: 100%;
    padding: 2rem 4rem 10rem; } }

/*# sourceMappingURL=block.css.map */
