/*********************************************/
/****************** GENERAL ******************/
/*********************************************/
@media all and (max-width: 1830px) {
  .avatars__pic,
  .story__pic {
    margin-bottom: 6rem;
    overflow: hidden; } }
/*********************************************/
/****************** NAVBAR *******************/
/*********************************************/
.btn-wrap__btn-00,
.btn-wrap__btn-01,
.btn-wrap__btn-02,
.btn-wrap__btn-03 {
  width: 14rem;
  height: 4rem;
  margin: 1rem 1rem;
  border: none;
  background-color: #707070;
  border-radius: 25px; }

@media all and (max-width: 1830px) {
  .navigation__pic {
    margin-bottom: 4rem; } }
@media all and (max-width: 1300px) {
  .btn-wrap__btn-03 {
    align-self: center; } }
/*********************************************/
/****************** HEADER *******************/
/*********************************************/
/*********************************************/
/******************* CARDS *******************/
/*********************************************/
.cards__card-00,
.cards__card-01,
.cards__card-02,
.cards__card-03 {
  width: 360px;
  margin-bottom: 6rem;
  background-color: #ececec; }

.card-00__text,
.card-01__text,
.card-02__text,
.card-03__text {
  padding: 1.4rem 2rem 4rem;
  margin-bottom: 8rem; }

.card-00__footer,
.card-01__footer,
.card-02__footer,
.card-03__footer {
  height: 64px;
  padding: 1rem;
  background-color: #707070;
  color: #FFF;
  text-align: center;
  line-height: 40px;
  letter-spacing: 0.1em; }

@media all and (max-width: 359px) {
  .cards__card-00,
  .cards__card-01,
  .cards__card-02,
  .cards__card-03 {
    max-width: 320px;
    text-align: justify;
    margin: 4rem auto; } }
/*********************************************/
/****************** AVATARS ******************/
/*********************************************/
.description__avatar-00,
.description__avatar-01 {
  display: flex;
  justify-content: space-between; }

.avatar-00__text,
.avatar-01__text {
  padding-left: 4rem;
  line-height: 1.4em;
  text-align: justify; }

@media all and (max-width: 1830px) {
  .description__avatar-00,
  .description__avatar-01 {
    padding: 2rem 0 4rem; } }
@media all and (max-width: 870px) {
  .description__avatar-00,
  .description__avatar-01 {
    flex-direction: column; }

  .avatar-00__pic,
  .avatar-01__pic {
    margin: 2rem auto; }

  .avatar-00__text,
  .avatar-01__text {
    padding-left: 0; } }
@media all and (max-width: 320px) {
  .description__avatar-00,
  .description__avatar-01 {
    padding: 0 4rem; } }
/*********************************************/
/******************* STORY *******************/
/*********************************************/
.story__text {
  width: 50%;
  line-height: 1.4em;
  padding-right: 4rem; }

@media all and (max-width: 1830px) {
  .story__pic {
    margin-bottom: 2rem; }

  .story__text {
    width: 100%;
    margin: 0 0 12rem;
    padding-right: 0; } }
@media all and (max-width: 320px) {
  .story__text {
    padding-left: 4rem;
    padding-right: 4rem; } }
/*********************************************/
/****************** FOOTER *******************/
/*********************************************/
.contact__text-00,
.contact__text-01,
.contact__text-02,
.contact__text-03 {
  width: 25%;
  padding: 2rem 2rem 4rem;
  margin: 1rem 6rem 4rem;
  text-align: justify;
  line-height: 1.4em; }

@media all and (max-width: 1830px) {
  .contact__text-00,
  .contact__text-01,
  .contact__text-02,
  .contact__text-03 {
    width: 45%;
    margin: 1rem 0 4rem;
    padding: 2rem 2rem 4rem; } }
@media all and (max-width: 1300px) {
  .contact__text-00,
  .contact__text-01,
  .contact__text-02,
  .contact__text-03 {
    width: 100%;
    margin: 1rem 0 2rem;
    padding: 1rem; } }

/*# sourceMappingURL=element.css.map */
