*, *::after, *::before
{
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

.wrap
{
    font-size: 2em;
}

// .navigation,
// .cards,
// .story
// {
//     background-color: rgb(255, 228, 228);
// }

// .greeting-card,
// .avatars,
// .contact
// {
//     background-color: rgb(182, 245, 236);
// }